<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://47.107.96.85/rich.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.exgame.rich</string>
<key>bundle-version</key>
<string>1.10</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>富豪互娱</string>
</dict>
</dict>
</array>
</dict>
</plist>
